@import 'simplebar-react/dist/simplebar.min.css';

.globe {
  border: 2px solid #97adf7;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  width: 140px;
  transform: scale(2);
  svg {
    animation: rotation 5s linear 0s infinite;

    path {
      stroke: #97adf7;
    }
  }
}

@keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}
